#
data/
results/
dust3r/
job_fm_*.sh

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# MacOS
.DS_Store

# Temporary files
tmp/
temp/
